@import '@style/_media';
@import '@style/_variables';

.container {
  width: 500px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: $border_radius;
  padding: 15px;
  background-color: white;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  flex: 1 0 auto;
}
.footer {
  display: flex;
  justify-content: space-between;
}

@include tablet {
  .container {
    width: 70vw;
  }
}
@include mobile {
  .container {
    width: 90vw;
  }
}
