@import '@style/_variables';
@import '@style/_media';

.container {
  padding: 10px;

  background-color: transparent;

  border-radius: $border_radius;
  border: 1px solid $clr_orange_primary;
}

.expired {
  box-shadow: 0px 0px 5px $clr_red_primary inset;
  border: 1px solid transparent;
}

.expired_text {
  color: $clr_red_primary;
  font-weight: bold;
}

.main {
  display: flex;
  gap: 10px;
}

.text {
  padding-bottom: 10px;

  flex: 1;

  text-overflow: ellipsis;
  overflow: hidden;
}

.crossed {
  text-decoration: line-through;
}

.footer {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  gap: 10px;

  color: var(--text-weak);
  font-style: italic;
  font-size: $font_xsm;
}

@include mobile {
  .main {
    gap: 5px;
  }
}
