@import '@style/_variables';

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $clr_modal;
  z-index: 100;

  transition: all 0.3s ease-in-out;
}

.content {
  position: relative;
}

.close_btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
