@import '@style/_variables';
@import '@style/_media';

@mixin input-error-message {
  padding-left: 10px;

  color: $clr_red_primary;
  font-size: $font_sm;
  font-weight: 500;

  @include mobile {
    font-size: $font_xsm;
  }
}

@mixin input-base {
  &::placeholder {
    color: var(--text-weak);
    font-size: $font_md;
    font-style: italic;
  }

  &:focus {
    background-color: var(--focus);
    border: 1px solid $clr_blue_primary;
    fill: $clr_blue_primary;
    color: var(--text-strong);
  }
}

@mixin with-border {
  border: 1px solid var(--border);
  border-radius: $border_radius;
}

@mixin with-scrollbar($width, $radius) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-track {
    background: var(--clr-primary);
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb {
    background: $clr_blue_primary;
    border-radius: $radius;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $clr_blue_primary;
  }
}
