@import '@style/_variables';

@mixin theme-light-scheme {
  --clr-primary: #{$clr_theme_light_primary};
  --clr-mid: #{$clr_theme_light_mid};
  --clr-secondary: #{$clr_theme_light_secondary};

  --text-strong: #{$clr_theme_light_text_strong};
  --text-weak: #{$clr_theme_light_text_weak};

  --focus: #{$clr_blue_secondary};
  --border: #{$clr_theme_light_text_weak};

  --box-shadow: 0 0 5px #{$clr_theme_light_text_weak};
}

@mixin theme-dark-scheme {
  --clr-primary: #{$clr_theme_dark_primary};
  --clr-mid: #{$clr_theme_dark_mid};
  --clr-secondary: #{$clr_theme_dark_secondary};

  --text-strong: #{$clr_theme_dark_text_strong};
  --text-weak: #{$clr_theme_dark_text_weak};

  --focus: #{$clr_theme_dark_secondary};
  --border: #{$clr_theme_dark_secondary};

  --box-shadow: 0 0 5px #{$clr_theme_light_secondary};
}
