@import '@style/variables';
@import '@style/_mixins';

.container {
  display: flex;
  flex-direction: column;
}

.info {
  padding: 5px;
  min-height: 35px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 10px;
  max-height: 45vh;
  overflow-y: auto;
  overflow-x: hidden;

  @include with-scrollbar(10px, 15px);

  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: var(--clr-primary);

  border-radius: $border_radius;
  box-shadow: var(--box-shadow);
}
