@import '@style/_variables';

.container {
  width: 100%;

  display: flex;
  gap: 15px;
}

.filter_item_active {
  border-radius: $border_radius;
  background-color: $clr_blue_secondary;
  box-shadow: $box_shadow_main;
}
