* {
  margin: 0;
  padding: 0;

  list-style: none;
  outline: none;

  box-sizing: border-box;
  border: none;

  a {
    font-style: none;
    text-decoration: none;
    color: inherit;
  }

  button {
    &:hover {
      cursor: pointer;
    }
    &:disabled {
      cursor: not-allowed;
    }
  }
}
