/* COLOR scheme */

/* THEME LIGHT */
$clr_theme_light_primary: white;
$clr_theme_light_mid: #f5f5f5;
$clr_theme_light_secondary: black;

$clr_theme_light_text_strong: black;
$clr_theme_light_text_weak: #b9b6b6;

/* THEME DARK */
$clr_theme_dark_primary: #22272a;
$clr_theme_dark_mid: #2c3033;
$clr_theme_dark_secondary: #3d4144;

$clr_theme_dark_text_strong: #f5f5f5;
$clr_theme_dark_text_weak: #b9bdbf;

/* ACCENT */

$clr_blue_primary: #518aff;
$clr_blue_secondary: #ecf5ff;

$clr_orange_primary: #ffba6b;

$clr_red_primary: red;

/* FONTS */

$font_xsm: 12px;
$font_sm: 14px;
$font_md: 16px;
$font_lg: 18px;

/*  SIZES */

$main_container: 1982px;

/* BORDER RADIUS*/

$border_radius: 10px;

/* BOXSHADOW*/

$box_shadow_main: 0 0 5px $clr_theme_light_text_weak;

/* BREAK POINTS */

$breakpoint_desktop: 1200px;
$breakpoint_laptop: 1024px;
$breakpoint_tablet: 767px;
$breakpoint_mobile: 576px;
