/* Color scheme */

$clr_blue_primary: #518aff;
$clr_blue_secondary: #ecf5ff;

$clr_orange_primary: #ffba6b;
$clr_orange_secondary: #fffff8;

$clr_gray_primary: #b9b6b6;

$clr_red_primary: red;

/* FONTS */
$font_xsm: 12px;
$font_sm: 14px;
$font_md: 16px;
