@import '@style/_variables.scss';

.container {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 50px;

  border-radius: 10px;
  border: 1px solid $clr_gray_primary;

  &::after {
    content: attr(data-error);

    position: absolute;
    bottom: -20px;
    left: 0;

    font-size: $font_sm;
    color: $clr_red_primary;
    font-weight: 500;
  }
}

.title {
  position: absolute;
  top: -25px;
  left: 0px;
}

.input {
  width: 100%;
}
