@import '@style/_variables';
@import '@style/_media';

.container {
  display: flex;
  gap: 15px;
}

.list {
  display: flex;
  gap: 15px;
  flex: 1;
}

.filter_item_active {
  border-radius: $border_radius;
  background-color: var(--focus);
  box-shadow: $box_shadow_main;
}

@include mobile {
  .container {
    padding: 15px 5px 10px;
    gap: 10px;

    overflow: auto;
  }

  .list {
    gap: 10px;
  }
}
